{
    "presets": [
      "next/babel",
      "@zeit/next-typescript/babel"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": [
            "./"
          ],
          "alias": {
            "@Components": "./src/Components",
            "@Definitions": "./src/Definitions",
            "@Interfaces": "./src/Interfaces",
            "@Services": "./src/Services",
            "app": "./src/app",
            "auth": "./src/modules/auth",
            "demo": "./src/modules/demo"
          }
        }
      ],
      [
        "babel-plugin-styled-components",
        {
          "ssr": true,
          "displayName": true,
          "preprocess": false
        }
      ],
      [
        "import",
        {
          "libraryName": "antd"
        }, "ant"
      ],
      [
        "import",
        {
          "libraryName": "react-feather",
          "libraryDirectory": "dist/icons"
        },
        "react-feather"
      ]
    ]
}
