NODE_ENV=development
PROXY_MODE=local
API_URL=http://localhost:3000
API_KEY=NNKOjkoul8n1CH18TWA9gwngW1s1SmjESPjNoUFo

# for deployment

APPLICATION=next-starter
REPO=git@github.com:SimplyBridal/next-starter.git
DEPLOY_TO=/opt/www/next-starter

DEV_HOST=dev.example.com
DEV_PEM=next-starter-staging.pem
DEV_USER=ubuntu
DEV_DEPLOY_TO=/opt/www/next-starter

STAGING_HOST=staging.example.com
STAGING_PEM=next-starter-staging.pem
STAGING_USER=ubuntu
STAGING_DEPLOY_TO=/opt/www/next-starter

PRODUCTION_HOST=www.example.com
PRODUCTION_PEM=next-starter-production.pem
PRODUCTION_USER=work1
PRODUCTION_DEPLOY_TO=/opt/www/next-starter
